
  /* h1 {
    font-size: 36px;
    font-weight: 600;
    color: #222;
  }
  
  p {
    font-weight: 300;
    font-size: 18px;
    color: #555;
    width: min(65ch, 100%);
  } */
  
  button {
    padding: 18px 32px;
    margin-top: 30px;
    border: none;
    background-color: #222;
    color: white;
    font-size: 1.1em;
    border: 1px solid #222;
    outline: none;
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
  }
  button:hover {
    background-color: white;
    color: #222;
  }
  
  .tablet {
    display: flex;
    margin: 0 auto;
    background: #0c0c0c;
    border-radius: 37px;
    border: 2px solid #3a3a3a;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 1px 7px 19px #00000061, 1px 14px 38px #00000080, inset 0 0 4px rgba(255, 255, 255, 0.58);
    overflow: hidden;
  }
  .tablet.landscape {
    height: 573px;
    width: 734px;
    user-select: none;
  }
  .tablet.landscape .tablet__screen {
    height: 89%;
    width: 84%;
  }
  .tablet.landscape .tablet__home {
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }
  .tablet.landscape .tablet__camera {
    top: 50%;
    right: 27px;
    transform: translateY(-50%);
  }
  .tablet.landscape .tablet__screenContainer:before {
    width: 120%;
    top: 22%;
    left: 0;
    background: linear-gradient(180deg, transparent, #9a9a9a0f 100%);
  }
  .tablet.portrait {
    height: 734px;
    width: 573px;
  }
  .tablet.portrait .tablet__screen {
    height: 84%;
    width: 89%;
  }
  .tablet.portrait .tablet__home {
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
  }
  .tablet.portrait .tablet__camera {
    top: 27px;
    left: 50%;
    transform: translateX(-50%);
  }
  .tablet.portrait .tablet__screenContainer:before {
    width: 150%;
    top: 20%;
    left: -6%;
    background-image: linear-gradient(180deg, transparent, #9a9a9a2b 100%);
    mix-blend-mode: lighten;
  }
  .tablet::before {
    display: block;
    height: 25%;
    width: 120%;
    content: "";
    position: absolute;
    top: 20%;
    background: linear-gradient(180deg, transparent, #ffffff38 100%);
    transform: rotate(12deg);
    filter: blur(1px);
    z-index: 1;
  }
  .tablet__screen {
    background-image: url('../imgs/result.mp4');
    background-size: cover;
    background-position: center;
    z-index: 10;
    overflow: hidden;
  }
  .tablet__screenContainer {
    height: 100%;
    width: 100%;
    position: relative;
    box-shadow: inset 0px 0px 2px #000000a3;
    overflow: hidden;
  }
  .tablet__screenContainer:before {
    display: block;
    height: 25%;
    content: "";
    position: absolute;
    transform: rotate(12deg);
    filter: blur(10px);
    pointer-events: none;
    z-index: 3;
  }
  .tablet__camera {
    height: 8px;
    width: 8px;
    background: linear-gradient(270deg, #4a4a4a, transparent);
    border-radius: 50%;
    position: absolute;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tablet__cameraEye {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: #0045ad;
  }
  .tablet__home {
    height: 24px;
    width: 24px;
    background: linear-gradient(90deg, #5656564f, #0c0c0c);
    border-radius: 50%;
    position: absolute;
    display: grid;
    place-content: center;
    box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }
  .tablet__homeSquare {
    height: 12px;
    width: 12px;
    border-radius: 3px;
    border: 1px solid #4c4c4c;
  }